* {
    font-size: 8pt;
}
input,textarea {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    line-height: 10pt;
    padding-top: 0pt;
}
input:invalid,textarea:invalid {
    border-color: red;
    background: rgba(255, 127, 127, 0.2);
}
input.btn {
    position: relative;
    font-size: large;
    background: rgba(255, 255, 255, 0.7);
    padding: 6pt;
    margin: 6pt;
    border-radius: 4pt;
}
select {
    position: absolute;
    background: rgba(255, 255, 255, 1.0);
}
select:invalid {
    border-color: red;
    background: rgb(255, 180, 180);
}
